body {
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out; 
}

.position-relative {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajustamos la posición del icono a la derecha */
    transform: translateY(-50%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon.active {
    opacity: 1;
    transform: translateY(-50%) translateX(0); /* Ajustamos la posición del icono a la izquierda */
}

