/* Estilos CSS adicionales */
.input-container {
    position: relative;
    margin-bottom: 1em;
}

.custom-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.custom-label {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 5px; /* Espacio extra para el texto del placeholder */
    background-color: #ffffff; /* Fondo oscuro */
    color: #aaa;
    transition: top 0.3s, font-size 0.3s, background-color 0.3s; /* Animación de transición */
    pointer-events: none;
}

.custom-input:focus + .custom-label,
.custom-input:not(:placeholder-shown) + .custom-label {
    top: -10px;
    font-size: 13px;
    background-color: #ffffff; /* Fondo oscuro */
    color: #3498db; /* Color azul */
}



/* Estilos personalizados para la tabla de pacientes */
/* Estilo de la tabla */
.table-container {
    margin-top: 20px;
    overflow-y: auto; /* Añadido para permitir desplazamiento horizontal */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-scroll {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 78vh; /* Establece la altura máxima deseada */
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #34495e;
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    overflow: hidden; /* Ocultar el contenido que desborda */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) cuando el contenido desborda */
}

.table th {
    background-color: #34495e;
    color: #ecf0f1;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ebebeb;
}

/* Estilo de las acciones */
.table .acciones button {
    margin-right: 5px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.table .acciones button:hover {
    background-color: #3498db;
    color: #fff;
}

/* Estilos personalizados para el modal */
.modal-content {
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #3498db;
    border-bottom: none;
    padding: 20px;
}

.modal-title {
    color: #333;
}

.modal-body {
    padding: 20px;
}

/* Ajustar el tamaño de los detalles según tus necesidades */
.modal-body p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Botón de cerrar */
.btn-close {
    color: #000;
}

/* Estilo del botón para cerrar el modal */
.btn-close:focus,
.btn-close:hover {
    color: #333; /* Cambia el color al pasar el ratón */
    text-decoration: none; /* Evita que el cursor se convierta en un puntero */
}

.modal-content {
    font-family: Arial, sans-serif;
}

.modal-body p {
    font-size: 16px;
}

.modal-body h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.animate__slideInDown {
    --animate-duration: 5s; /* Ajusta la duración de la animación según lo necesites */
}
