body {
    padding-bottom: 40px; /* Altura del footer */
}
/* Estilos CSS adicionales */
.input-container {
    position: relative;
    margin-bottom: 1em;
}

.custom-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.custom-label {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 5px; /* Espacio extra para el texto del placeholder */
    background-color: #ffffff; /* Fondo oscuro */
    color: #aaa;
    transition: top 0.3s, font-size 0.3s, background-color 0.3s; /* Animación de transición */
    pointer-events: none;
}

.custom-input:focus + .custom-label,
.custom-input:not(:placeholder-shown) + .custom-label {
    top: -10px;
    font-size: 13px;
    background-color: #ffffff; /* Fondo oscuro */
    color: #3498db; /* Color azul */
}

/* Estilos personalizados */
.dataTables_wrapper {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd; /* Grosor y color del borde */
}
th {
    background-color: #1e90ff; /* Azul oscuro */
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris claro para filas pares */
}
tr:nth-child(odd) {
    background-color: #f9f9f9; /* Gris más claro para filas impares */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #007bff;
    color: #fff;
    border-color: #007bff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #007bff;
    color: #fff;
    border-color: #007bff;
}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
    border-radius: 20px; /* Hace los bordes más redondeados */
    padding: 10px;
    width: 300px;
    margin-right: 10px; /* Añade margen entre el input y la tabla */
}
.dataTables_wrapper .dataTables_length select {
    border-radius: 20px; /* Hace los bordes más redondeados */
    padding: 8px;
    margin-bottom: 10px; /* Añade margen entre el select y la tabla */
}
.dataTables_wrapper .dataTables_info {
    color: #666;
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_length label {
    color: #333;
    margin-right: 10px;
}
/* Margen alrededor de la tabla */
#example_wrapper {
    margin: 20px;
}
