body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
}

#encabezado {
    background-color: #007bff; /* Cambio de color a azul claro */
    color: #fff;
    padding: 10px;
}

#navegador {
    background-color: #1c2731; /* Nuevo color para el navegador */
    color: #fff;
    padding: 20px;
    height: calc(100vh - 60px); /* Restar el tamaño del encabezado */
    border-right: 2px solid #6c757d;
    overflow-y: auto;
}

#navegador h2 {
    margin-bottom: 20px;
    color: #fff;
}

#navegador ul {
    padding-left: 0;
    list-style: none;
}

#navegador ul li {
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    border: 2px solid #007bff; /* Bordes y color de borde azul claro */
}

#navegador ul li a {
    display: block;
    padding: 10px;
    background-color: #007bff; /* Fondo azul claro */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#navegador ul li i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
}

#navegador ul li a:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}


.custom-label {
    color: #007bff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.form-control {
    background-color: #fff;
    border-color: #ced4da; /* Color de borde gris */
    color: #212529;
    border-radius: 5px;
}

.form-control:focus {
    background-color: #fff;
    border-color: #007bff; /* Nuevo color de borde azul claro */
    color: #212529;
    box-shadow: none;
}

.btn-primary {
    background-color: #007bff; /* Cambio de color a azul claro */
    border-color: #007bff; /* Cambio de color del borde */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
    border-color: #0056b3; /* Cambio de color del borde al pasar el mouse */
}

@media (max-width: 768px) {
    #navegador {
        width: 100%; /* Ancho completo en dispositivos pequeños */
        min-height: auto;
        border-right: none; /* Sin borde derecho en dispositivos pequeños */
        border-bottom: 2px solid #6c757d; /* Borde inferior para separar del contenido */
    }
}

.animated-input {
    transition: all 0.3s ease;
    border: 1px solid #ced4da;
}

.animated-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.animated-select {
    transition: all 0.3s ease;
    border: 1px solid #ced4da;
}

.animated-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.animated-button {
    transition: all 0.3s ease;
    background-color: #007bff;
    border-color: #007bff;
}

.animated-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.animated-button:focus {
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
}